<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.dao.PayDao">

	<update id="updateUserMoney">
    	update jp_user 
    	<set>
    		money = #{1}
    	</set> 
    	where username = #{0}
    </update>
    
    <insert id="payJipiao" parameterType="Dingdan">
		insert into jp_dingdan values
		(null,#{user_id.id},#{jipiao_id.id},#{goumairiqi},null,#{yiwaixian},#{yanwuxian}) 
	</insert>

</mapper>